*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.card{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    background-color: aliceblue;
    padding: 1vw 2vw;
    border-radius: 2px;

    .line{
        width: 100%;
        height: 1vw;
        background-color: gray;
        border-radius: 7px;

        .innerline{
            height: 1vw;
            width: 0%;
            background-color: green;
            border-radius: 7px;
        }
   }
   h2{
    align-self: self-end;
    font-size: 1.2vw;
   }
   .buttons{
    display: flex;
    justify-content: space-between;

    button{
        background-color: rgb(33, 179, 33);
        color: #fff;
        border: none;
        padding: 0.5vw 2vw;
        font-size: 1vw;
    }
    button:active{
        scale: 0.95;
    }
    h3{
        font-size: 1vw;
    }
   }

}